# Python
__pycache__/
*.py[cod]
*.egg-info/

# Data / weights / logs
/data/
/runs/
/checkpoints/
/cache/
*.pth
*.pt
*.h5

# Colab / VSCode
.ipynb_checkpoints/
.vscode/

# macOS
.DS_Store

# Environments
.venv/
env/
